doctype html
html(ng-app='myApp')
    head(lang='eng')
        base(href="/")
        meta(charset='UTF-8')
        title User Profile
        link(href="http://team.binary-studio.com/app/styles/css/style.css", rel="stylesheet")
        // STYLES
        link(rel="stylesheet", href="styles/achievements.css")
        link(rel="stylesheet", href="styles/cv.css")
        link(rel="stylesheet", href="styles/dependencies/bootstrap.css")
        link(rel="stylesheet", href="styles/homepage.css")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/pdp.css")
        link(rel="stylesheet", href="styles/profile.css")
        link(rel="stylesheet", href="styles/techdata.css")
        link(rel="stylesheet", href="styles/user-page.css")
        // STYLES END
    body
        header.container-fluid
            .col-lg-1
                img.logo(src="http://academy.binary-studio.com/resources/logo.png")
            div(ng-controller="MainController as ctrl", class="container-fluid")
                .col-lg-2
                .col-lg-10
                    .container-fluid
                        .col-lg-8
                        .col-lg-4
                            .input-group
                                input.form-control(ng-model="ctrl.searchText", type='text', ng-keyup='ctrl.search()', placeholder='Search for...')
                                span.input-group-btn
                                    //- button.btn.btn-primary(type='button', ng-click='ctrl.search()') Go!
                                    button.btn.btn-default(type='button', ng-click='ctrl.go("/search")') filters
                            .list-group(ng-model="ctrl.usersList", ng-cloak)
                                button#usersListInSearch.list-group-item(ng-repeat="user in ctrl.usersList",type='button', ng-click='ctrl.showUserPage(user.id)')
                                    .col-md-4
                                        img.img-responsive.img-thumbnail#thumbnailsInFilter(ng-src= "{{user.avatar}}", width='40', height='60', alt='avatar')

                                    .col-md-8
                                        | {{user.name}} <br>
                                        | {{user.department}}
                                        
        main.container-fluid
            .row(ng-controller='TabsCtrl as ctrl')
                #nav.col-lg-2.col-lg-offset-2
                    div
                        tabset(vertical="true")
                            tab(ng-repeat='tab in ctrl.tabs',
                                ng-hide="tab.couldBeHidden && !ctrl.isMyProfile()",
                                heading='{{tab.title}}',
                                active='tab.active',
                                disable='tab.disabled',
                                select="ctrl.changeHash(tab.href)")
                .col-lg-6.article(ng-view)

        script(src="http://team.binary-studio.com/app/javascripts/header.js")
        // SCRIPTS
        script(src="js/dependencies/angular.amin.js")
        script(src="js/dependencies/angular.cookies.min.js")
        script(src="js/dependencies/angular.messages.js")
        script(src="js/dependencies/angular.resource.min.js")
        script(src="js/dependencies/angular.route.min.js")
        script(src="js/dependencies/ng-file-upload.min.js")
        script(src="js/dependencies/sails.io.js")
        script(src="js/dependencies/ui-bootstrap-tpls.js")
        script(src="js/main.js")
        // SCRIPTS END
