script(type='text/ng-template', id='dropDownList.html').
	<a>
	<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	</a>

.container-fluid(ng-controller='CVController')
	script(type='text/ng-template', id='modalImage.html').
		<div class="modal-header">
			<span class="modal-title">Screenshot {{image.index + 1}} of {{number}}</span>
			<a href="#" class="pull-right" ng-click="cancel($event)">Close</a>
		</div>
		<div class="modal-body">
			<img ng-src="{{'images[image.index].img}}" class="img-responsive center-block screenshot" dynamic-src>
		</div>
	script(type='text/ng-template', id='modalConfirm.html').
		<div class="modal-header">
			<h3 class="modal-title">Are you sure?</h3>
		</div>
		<div class="modal-body">
			<p>Once you delete a project, you can't <br> undo it.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancel($event)">Cancel</button>
			<button type="button" class="btn btn-danger" ng-click="removeProject()">Delete</button>
		</div>
	.row.user-technologies
		div.col-sm-12
			h4 Technologies
			div.btn-add-tech(ng-click="showTechForm=true")
				span.glyphicon.glyphicon-plus-sign
			div(ng-show="showTechForm" ng-include="template")
		
		div.col-sm-12.voffset3
			| Sort by knowledge level:
			rating(ng-model="knowledge", max="5", readonly="isReadonly", on-hover="hoveringOver(value)", on-leave="overStar=null")
			ul.technologies-list.voffset3
				li(ng-repeat="tech in userCV.technologies | unique | orderBy: 'category.name' ")
					span.category-name
						| {{tech.category.name}}:
					button(ng-repeat="tech in userCV.technologies | filter: {category: {id: tech.category.id}} | rating: knowledge",
							class="technology stars-{{tech.stars}}", ng-click="showRating = !showRating", ng-attr-id="{{$index}}")
						| {{tech.name}}
						rating(ng-model="tech.stars", max="5", readonly="false", on-hover="hoveringOver(value)", on-leave="overStar = null",
								ng-show="showRating", ng-click="updateTechnology(tech)")
						span.glyphicon.glyphicon-remove.btn-rmv-tech(ng-click="removeTechnology($event, tech)")
	.row.user-projects
		div.col-sm-12
			h4 Projects
			div.btn-add-project(dropdown="")
				a#simple-dropdown(href="", dropdown-toggle="")
					span.glyphicon.glyphicon-plus-sign
				ul.dropdown-menu(aria-labelledby='simple-dropdown2')
					li
						a(href="", ng-click="showProjectForm1=true; showProjectForm2=false") Select from existing projects
						a(href="", ng-click="showProjectForm2=true; showProjectForm1=false") Create project
		div.col-sm-6.col-sm-offset-3(ng-include="template3")
		div.col-sm-6.col-sm-offset-3(ng-include="template4")


		//--Show/Edit projects	
		div.col-sm-12.voffset3
			.panel.panel-default.project(ng-repeat="project in userCV.projects | orderBy: 'startDate'", ng-attr-id="{{$index}}")
				.panel-heading.project-header
					div.project-title(ng-click="project.isCollapsed = !project.isCollapsed")
						b(ng-if="!project.editMode") {{project.name}}
					.form-group.project-name-edit(ng-if='project.editMode')
						input.form-control(ng-model="project.name", ng-class= "{errorborder: !project.name}")
						.error-block(ng-show="!project.name")
							p(ng-show="!project.name") Project name is required
					div.pull-right
						div.btn-rmv-project(tooltip="Copy to clipboard", tooltip-trigger="mouseenter", ngclipboard='', data-clipboard-text="{{project.path}}")
							span.glyphicon.glyphicon-share
						div.btn-rmv-project(tooltip="Go to", tooltip-trigger="mouseenter", ng-click="goToProject($event,project.id)")
							span.glyphicon.glyphicon-new-window
						div.btn-edit-project(tooltip="Edit this project", tooltip-trigger="mouseenter", ng-click="editProject($event, project)")
							span.glyphicon.glyphicon-pencil
						div.btn-rmv-project(tooltip="Remove this project", tooltip-trigger="mouseenter", ng-click="confirmDelete($event, 'sm', project)")
							span.glyphicon.glyphicon-trash


				.panel-body(collapse="!project.current && project.isCollapsed")
					div.logo-wpap(ng-if="project.company = 'binary' && !project.editMode")
						img.logo(src="http://academy.binary-studio.com/resources/logo.png")
					form(novalidate="novalidate")
						.row
							div.col-sm-3.project-label
								| Start date:
							div.col-sm-9
								span(ng-if='!project.editMode') {{project.start | date:'dd/MM/yyyy'}}
								.input-group(ng-if='project.editMode')
									input.form-control(
										name="start-date1",
										ng-model='project.start',
										is-open='showProjectCVStartDate',
										min-date="'2000-01-01'",
										ng-required="true",
										readonly="true",
										datepicker-popup='dd-MM-yyyy',
										datepicker-append-to-body="true",
										close-text='Close',
										ng-class= "{errorborder: !project.start}",
										ng-click='showProjectCVStartDate = !showProjectCVStartDate')
									span.input-group-btn
										button.btn.btn-default(type='button', ng-click='showProjectCVStartDate = !showProjectCVStartDate', 
										ng-class= "{errorborder: !project.start}")
											i.glyphicon.glyphicon-calendar
								.error-block(ng-show='!project.start')
									p(ng-show="!project.start") Date is required

						.row.voffset3(ng-if="!project.editMode")
							div.col-sm-3.project-label
								| End date:
							div.col-sm-9
								span(ng-if="project.end") {{project.end | date:'dd/MM/yyyy'}}
								span(ng-if='!project.end') present
						
						.row.voffset3(ng-if='project.editMode')
							div.col-sm-3.project-label
								| End date:
							div.col-sm-9
								.input-group(ng-if='project.editMode')
									input.form-control(	
										name="start-date1",
										ng-model='project.end',
										is-open='showProjectEndDate',
										min-date="project.start",
										ng-required="true",
										readonly="true",
										datepicker-popup='dd-MM-yyyy',
										datepicker-append-to-body="true",
										close-text='Close',
										ng-class= "{errorborder: false}",
										ng-click='showProjectEndDate = !showProjectEndDate')
									span.input-group-btn
										button.btn.btn-default(type='button', ng-click='showProjectEndDate = !showProjectEndDate', 
										ng-class= "{errorborder: false}")
											i.glyphicon.glyphicon-calendar
								.error-block(ng-show='false')
									p(ng-show="false") Date is required
						
						.row.voffset3(ng-hide="!project.editMode && !project.technologies.length") 
							div.col-sm-3.project-label Technologies:
								div.btn(ng-show='project.editMode', ng-click="project.showTechFormProject=true")
									span.glyphicon.glyphicon-plus-sign
							div.col-sm-9(ng-show="project.showTechFormProject && project.editMode", ng-include="template2")

						.row.voffset3(ng-repeat="tech in project.technologies | unique")
							div.col-sm-3.project-label
								| {{tech.category.name}}:

							div.col-sm-9(ng-if='!project.editMode')
								button.stars-4(disabled="disabled" ng-repeat = "tech in project.technologies | filter: {category: {id: tech.category.id}}")
									| {{tech.name}}

							div.col-sm-9(ng-if='project.editMode')
								button.stars-4(ng-repeat = "tech in project.technologies | filter: {category: {id: tech.category.id}}")
									| {{tech.name}}
									span.glyphicon.glyphicon-remove.btn-rmv-tech(ng-click="removeTechnologyFromProject($event, tech, project)")
						
						.row.voffset3(ng-hide="!project.editMode && !project.description") 
							div.col-sm-3.project-label
								| Description:
							div.col-sm-9
								p(ng-show='!project.editMode') {{project.description}}
								textarea.form-control(ng-show='project.editMode' rows='8' ng-model='project.description',
								required)
						
						.row.voffset3(ng-if="project.editMode")
							div.checkbox.col-sm-12
								label
									input(type="checkbox" ng-model="project.current")
									| Set this project as the current project
						.row.voffset3
							div.col-sm-3.project-label
								| Your role:
							div.col-sm-9
								span(ng-if="!project.editMode") {{project.userRole}}
								input.form-control(ng-if="project.editMode", type="text", ng-model="project.userRole", 
								ng-class= "{errorborder: project.userRole == false}")
								.error-block(ng-show='project.userRole == false')
									p(ng-show="project.userRole == false") User role is required

						.row.voffset3
							div.col-sm-3.project-label
								| Work period:
							div.col-sm-9
								span(ng-if="!project.editMode") {{project.startDate | date:"dd/MM/yyyy"}} - {{project.endDate | date:"dd/MM/yyyy"}}
								span(ng-if='!project.editMode && !project.endDate') present

								
								.input-group(ng-if='project.editMode')
									input.form-control(
										ng-model="project.startDate",
										is-open='showProjectWorkStartDate',
										min-date="project.start",
										max-date="project.end",
										ng-required="true",
										readonly="true",
										datepicker-popup='dd-MM-yyyy',
										datepicker-append-to-body="true",
										close-text='Close',
										ng-class= "{errorborder: !project.startDate}",
										ng-click='showProjectWorkStartDate = !showProjectWorkStartDate')
									span.input-group-btn
										button.btn.btn-default(type='button', ng-click='showProjectWorkStartDate = !showProjectWorkStartDate', 
										ng-class= "{errorborder: !project.startDate}")
											i.glyphicon.glyphicon-calendar
								.error-block(ng-show='!project.startDate')
									p(ng-show="!project.startDate") Date is required

								br
								span(ng-if="project.editMode")
								.input-group(ng-if='project.editMode',)
									input.form-control(	
										ng-model="project.endDate",
										is-open='showProjectWorkEndDate',
										min-date="project.startDate",
										max-date="project.end",
										ng-required="true",
										readonly="true",
										datepicker-popup='dd-MM-yyyy',
										datepicker-append-to-body="true",
										close-text='Close',
										ng-class= "{errorborder: false}",
										ng-click='showProjectWorkEndDate = !showProjectWorkEndDate')
									span.input-group-btn
										button.btn.btn-default(type='button', ng-click='showProjectWorkEndDate = !showProjectWorkEndDate', 
										ng-class= "{errorborder: false}")
											i.glyphicon.glyphicon-calendar
								.error-block(ng-show='false')
									p(ng-show="false") Date is required

						.row.voffset3
							div.col-sm-12.project-label(ng-show='project.participants.length')
								| Team members:
							div.col-md-6.col-sm-6.clearfix.voffset2(ng-repeat="participant in project.participants")
								a.participant-photo(href="#", ng-click="findUser($event, participant.id)")
									div.participant-photo-wrap
										img.img-responsive(ng-src="{{participant.avatar.urlAva}}")
								span
									strong
										a(href="#", ng-click="findUser($event, participant.id)") {{participant.name}} {{participant.surname}}
								p.participant-role {{participant.role}}
						.row.voffset3
							div.col-sm-12.project-label(ng-show='project.screenshots.length')
								span Screenshots:
							div.col-md-4.col-sm-4.voffset2(ng-repeat="screenshot in project.screenshots")
								div.screenshot-wrap
									img.img-responsive.screenshot(ng-src="{{screenshot.img}}", ng-click="open(screenshot, project.screenshots)")
								.btn-rmv-project(ng-show='project.editMode' ng-click="removeScreenshotAfterEdit(project, screenshot)")
									span.glyphicon.glyphicon-trash

							div.col-md-4.col-sm-4.voffset2(ng-if="project.newScreenshots", ng-repeat="newScreenshot in project.newScreenshots", ng-attr-id="{{$index}}")
								div.screenshot-wrap
									img.img-responsive.screenshot(ngf-src="newScreenshot", ng-click="open(newScreenshot, newScreenshots)" accept="image/*")
								.btn-rmv-project(ng-show='project.editMode' ng-click="removeNewScreenshot(newScreenshot, project)")
									span.glyphicon.glyphicon-trash

						.row.voffset3(ng-show='project.editMode')
							div.col-md-4.col-sm-4.voffset2 Add screnshot
								input#inputFile(type="file", ngf-select="addNewScreenshot($file, project)", accept="image/*")

						.row.voffset4(ng-if="project.editMode")
							div.col-sm-12
								button.btn.btn-primary(ng-click="updateProject(project)") Save
								button.btn.btn-danger(ng-click="cancelEditing(project._id, project)") Cancel