script(type='text/ng-template', id='dropDownList.html').
    <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>

.container-fluid(ng-controller='technologiesCtrl')
  div.row.technologies
    div.col-lg-4
        h4 Technologies
        form(ng-submit='submit(technologiesEnterText)')
          input.form-control(type='text',
                               ng-model="technologiesEnterText",
                               name="technologiesEnterText",
                               placeholder='Enter technology name',
                               typeahead='tech as tech.name for tech in allTechnologies | filter:{name:$viewValue}',
                               typeahead-template-url='dropDownList.html')
        form(ng-submit='submitOne(technologyTypeEnterText)')
          input.form-control(ng-show="technologyTypeShow",
                               type='text',
                               ng-model='technologyTypeEnterText',
                               name='technologyTypeEnterText',
                               placeholder='Enter technology type name',
                               typeahead='tech as tech.name for tech in allCategories | filter:{name:$viewValue}',
                               typeahead-template-url='dropDownList.html')
    div.col-lg-8 {{filtrRate}}
      rating(ng-model="filtrRate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" )
      ul
        li.Categories(ng-repeat="Categ in userTechnologies | uniqueTechnology") {{Categ.category.name}}
           button(ng-repeat="Tech in userTechnologies | filter: {category: {id:Categ.category.id}} | ratingFilter: filtrRate", ng-class = "getColor(Tech.stars)", ng-click = "addStars(Tech.stars)") {{Tech.name}}
              //- rating(ng-model="Tech.stars" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['знаю, но плохо','знаю','знаю неплохо','знаю хорошо','гуру']") 
  .row.project
    accordion(close-others='oneAtATime = true')
      
      accordion-group(heading='{{project.name}}', ng-repeat='project in userProjects')
        .row
          .col-lg-6
            .row productowner project:
              br 
              | {{project.productowner}}
            .row description project: 
              br
              | {{project.description}}
          .col-lg-6
            button.tehButton4Stars(ng-repeat = "techn in project.technologies") {{techn.name}}
      accordion-group(is-open='status.open')
        accordion-heading
          | add new Project
          i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
          |         This is just some content to illustrate fancy headings.
          