form(name="projectForm1", ng-show="showProjectForm1", novalidate)
	.form-group(ng-class="{ 'has-error': projectForm1.project.$invalid}")
		label(for="sel-project") Project
		select#sel-project.form-control(name="project",
			ng-model="selProject.id",
			required)
			option(value="") ---Please select---
			option(ng-repeat="project in allProjects | orderBy : 'name'", value="{{project.id}}")
				| {{project.name}}
		div.help-block(ng-messages="projectForm1.project.$error")
			p(ng-message="required") Please select a project
	.form-group(ng-class="{ 'has-error': projectForm1.userrole.$invalid}")
		label(for="user-role1") Your role
		input#user-role1.form-control(type="text",
			name="userrole",
			ng-model="selProject.userRole",
			ng-minlength="5",
			ng-maxlength="20",
			ng-pattern="/^[a-zA-Z ]+$/",
			required)
		div.help-block(ng-messages="projectForm1.userrole.$error")
			p(ng-message="pattern") You can use only letters
			p(ng-message="minlength") Please use between 5 and 20 characters
			p(ng-message="maxlength") Please use between 5 and 20 characters
			p(ng-message="required") Please enter your role
	.form-group(ng-class="{ 'has-error': projectForm1.startdate.$invalid}")
		label(for="start-date1") Date of joining the project
		.input-group
			input#start-date1.form-control(
				name="start-date1",
				ng-model="selProject.startDate",
				is-open='showProjectForm1StartDate',
				min-date="'2000-01-01'",
				ng-required="true",
				readonly="true",
				datepicker-popup='dd-MM-yyyy',
				datepicker-append-to-body="true",
				close-text='Close',
				ng-class= "{errorborder: false}")
			span.input-group-btn
				button.btn.btn-default(type='button', ng-click='showProjectForm1StartDate = !showProjectForm1StartDate', 
				ng-class= "{errorborder: false}")
					i.glyphicon.glyphicon-calendar
		.error-block(ng-show='false')
			p(ng-show="false") Date is required

		label(for="end-date1") Date of finishing working on the project
		.input-group
			input#end-date1.form-control(
				name="end-date1",
				ng-model="selProject.endDate",
				is-open='showProjectForm1EndDate',
				min-date="'2000-01-01'",
				readonly="true",
				datepicker-popup='dd-MM-yyyy',
				datepicker-append-to-body="true",
				close-text='Close',
				ng-class= "{errorborder: false}")
			span.input-group-btn
				button.btn.btn-default(type='button', ng-click='showProjectForm1EndDate = !showProjectForm1EndDate', 
				ng-class= "{errorborder: false}")
					i.glyphicon.glyphicon-calendar
		.error-block(ng-show='false')
			p(ng-show="false") Date is required

	.checkbox
		label
			input(type='checkbox', ng-model='selProject.current')
			b Set this project as the current project
	button.btn.btn-primary(ng-click="selectProject(projectForm1, selProject)") Add project
	button.btn.btn-danger(type="reset", ng-click="cancelSelectingProject(projectForm1)") Cancel