form(name="technologyForm", novalidate)
	.panel.panel-default
		.panel-body
			.form-group(ng-class="{ 'has-error': technologyForm.technologies.$invalid}")
				label(for="tech-name") Technology name
				input#technologies.form-control(type="text", autocomplete="off",
					name="technologies",
					ng-keyup ='enterTechnologyNameForTech($event, technology)',
					typeahead="tech as tech.name for tech in allTechnologies | filter:{name:$viewValue}",
					typeahead-template-url="dropDownList.html",
					ng-click="enterTechnologyNameForTech($event, technology)",
					ng-model="technology.name",
					ng-blur="enterTechnologyNameForTech($event, technology)",
					ng-focus="enterTechnologyNameForTech($event, technology)",
					ng-maxlength="15", required)
				div.help-block(ng-messages="technologyForm.technologies.$error")
					p(ng-message="maxlength") Please use no more than 15 characters
					p(ng-message="required") Please enter a technology
				label(for="sel-category" ng-show="showSelectTechnology") Technology Category
				select#sel-category.form-control(name="category", ng-show="showSelectTechnology"
					ng-model="technology.category",
					ng-required="showSelectTechnology")
					option(value="") ---Please select---
					option(ng-repeat="category in allCategories | orderBy : 'name'", value="{{category.id}}")
						| {{category.name}}
			.form-group(ng-class="{ 'has-error': technologyForm.category.$invalid}")
				div.help-block(ng-messages="technologyForm.category.$error", ng-if="showSelectTechnology")
					p(ng-message="required") Please select a category
			.form-group(ng-class="{ 'has-error': technologyForm.knowledge.$invalid}")
				label(for='knowledgelevel') Knowledge level
				rating#knowledgelevel(name="knowledge",
					max='5',
					on-hover='hoveringOver(value)',
					on-leave='overStar = null',
					readonly='false',
					ng-model='technology.stars',
					required)
				div.help-block(ng-messages="technologyForm.knowledge.$error")
					p(ng-message="required") Please specify your knowledge level of the technology
			button.btn.btn-primary(ng-click="addTechnology(technologyForm, technology)") Add techology
			button.btn.btn-danger(type='reset', ng-click='cancelCreatingTechnology(technologyForm)') Cancel