div(ng-controller="UserProfileAdminController as ctrl", class="container-fluid")
    h3(class="col-md-12",style="margin-bottom: 0") Personal info
        p
        hr
    .col-md-6.col-sm-6.col-xs-12
        .form-group
            label Name
            input(ng-model="ctrl.user.preModeration.name", class="form-control", placeholder="Name")
        .form-group
            label Name (previous value)
            input(ng-model="ctrl.user.name", class="form-control", placeholder="Name")            
        .form-group
            label Surname
            input(ng-model="ctrl.user.preModeration.surname", class="form-control", placeholder="Surname")
        .form-group
            label Surname (previous value)
            input(ng-model="ctrl.user.surname", class="form-control", placeholder="Surname")        
        .form-group
            label Birthday
            .input-group
                input.form-control(
                    ng-model='ctrl.user.preModeration.birthday',
                    is-open='showDatePicker',
                    min-date="'1900-01-01'",
                    max-date="ctrl.today",
                    datepicker-popup="shortDate",
                    datepicker-append-to-body="true",
                    close-text='Close')
                span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='showDatePicker = !showDatePicker')
                        i.glyphicon.glyphicon-calendar
        .form-group
            label Birthday (previous value)
            .input-group
                input.form-control(
                    ng-model='ctrl.user.birthday',
                    is-open='showDatePicker',
                    min-date="'1900-01-01'",
                    max-date="ctrl.today",
                    datepicker-popup="shortDate",
                    datepicker-append-to-body="true",
                    close-text='Close')
                span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='showDatePicker = !showDatePicker')
                        i.glyphicon.glyphicon-calendar                    
        .form-group
            label Gender
                p
                .radio.radio-info.radio-inline
                input#inlineRadio1(ng-model="ctrl.user.gender", type='radio', value='male', name='radioInline')
                label(for='inlineRadio1')
                    span.glyphicon.glyphicon-user(aria-hidden='true')
                    |  Male
                .radio.radio-inline
                input#inlineRadio2(ng-model="ctrl.user.gender", type='radio', value='female', name='radioInline')
                label(for='inlineRadio2')
                    span.glyphicon.glyphicon-heart(aria-hidden='true')
                    |  Female

        .form-group
            label Country
            input(ng-model="ctrl.user.preModeration.country", class="form-control", placeholder="Country")

        .form-group
            label Country (previous value)
            input(ng-model="ctrl.user.country", class="form-control", placeholder="Country")        

        .form-group
            label City
            input(ng-model="ctrl.user.preModeration.city", class="form-control", placeholder="City")

        .form-group
            label City (previous value)
            input(ng-model="ctrl.user.city", class="form-control", placeholder="City")        

        .form-group
            label Email address
            input(ng-model="ctrl.user.preModeration.email", type="email", class="form-control", placeholder="Email")

        .form-group
            label Email address (previous value)
            input(ng-model="ctrl.user.email", type="email", class="form-control", placeholder="Email")        

        .form-group
            label Password
            input(ng-model="ctrl.user.password", type="password", class="form-control", placeholder="Password")



    .col-md-6.col-sm-6.col-xs-12.personal-info
        img.avatar.img-thumbnail(src= "{{ctrl.user.avatar.urlAva}}", alt='avatar')
        h6 Upload a different photo...
        .btn.btn-default(ngf-select, ngf-change="ctrl.upload($file)") Upload on file change
        //input.text-center.well.well-sm(type='file')

    .col-md-12.form-group
        input.btn.btn-primary(value='Submit Changes', ng-click='ctrl.doUpdate()', readonly)
        input.btn.btn-default(value='Cancel Changes', ng-click='ctrl.cancelUpdate()', readonly)